* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: #340866;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  position: relative;
  width: 800px;
}

.ice-cream {
  background: #f8efb8;
  border-radius: 100px 100px 41px 41px;
  height: 300px;
  width: 200px;
}

.ice-cream-stick {
  background: #FF6A59;
  border-radius: 0 0 20px 20px;
  height: 100px;
  width: 62px;
}

.ice-cream-stick::before {
  background: #9f4237;
  content: " ";
  height: 20px;
  position: absolute;
  width: 62px;
}
