* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: #998235;
$secondary-color: #0B2429;

.container {
  align-items: center;
  background: $secondary-color;
  display: flex;
  height: 300px;
  justify-content: center;
  padding: 50px 60px;
  width: 400px;
}

.triangle {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  &-left {
    border-bottom: 50px solid transparent;
    border-left: 48px solid $primary-color;
    border-top: 50px solid transparent;
    height: 55px;
  }

  &-right {
    border-bottom: 50px solid transparent;
    border-right: 48px solid $primary-color;
    border-top: 50px solid transparent;
    height: 55px;
    margin-right: 167px;
  }
}

.big-circle {
  align-items: center;
  background: $primary-color;
  border-radius: 50%;
  display: flex;
  height: 200px;
  padding: 12px;
  position: absolute;
  width: 200px;
}

.middle-circle {
  background-color: $secondary-color;
  border-radius: 53%;
  height: 178px;
  padding: 18px;
  width: 213px;
}

.smallest-circle {
  border: 46px solid #F3AC3C;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}
