* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  align-items: center;
  background: #0B2429;
  display: flex;
  height: 300px;
  justify-content: center;
  padding: 50px 60px;
  width: 400px; }

.triangle {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  .triangle-left {
    border-bottom: 50px solid transparent;
    border-left: 48px solid #998235;
    border-top: 50px solid transparent;
    height: 55px; }
  .triangle-right {
    border-bottom: 50px solid transparent;
    border-right: 48px solid #998235;
    border-top: 50px solid transparent;
    height: 55px;
    margin-right: 167px; }

.circle {
  display: flex;
  align-items: center; }
  .circle-big {
    background: #998235;
    border-radius: 50%;
    height: 200px;
    padding: 12px;
    position: absolute;
    width: 200px; }
  .circle-middle {
    background-color: #0B2429;
    border-radius: 50%;
    height: 178px;
    padding: 18px;
    width: 213px; }
  .circle-smallest {
    border: 46px solid #F3AC3C;
    border-radius: 50%;
    height: 140px;
    width: 100%; }
