* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  background: #0B2429;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.right-triangle {
  height: 55px;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 55px solid #998224; }

.left-triangle {
  height: 55px;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 55px solid #998224; }
