* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-dark-color: #124642;
$primary-light-color: #938E22;
$secondary-light-color: #F0B900;

.container {
  background: $primary-dark-color;
  display: flex;
  height: 600px;
  width: 800px;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
    background: $secondary-light-color;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    padding: 36px 37px 28px 36px;
  
  &-medium {
    background: $primary-light-color;
    border-radius: 50%;
    height: 54px;
    width: 57px;
  }

  &-small {
    align-self: flex-end;
    background: $primary-light-color;
    border-radius: 50%;
    height: 36px;
    width: 36px;
  }

  &-smallest {
    background: $primary-light-color;
    border-radius: 50%;
    height: 18px;
    width: 18px;
  }
}
