* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #F7EC7D;
}

.container{
  background: #62306D;
  height: 300px;
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 45px 50px;
}

.union-left {
  background-color: var(--first-color);
  border-radius: 0 0 48px 48px;
  height: 105px;
  width: 100px;
  align-self: flex-end;
}

.union-middle {
  background: var(--first-color);
  border-radius: 48px 48px 0 0;
  height: 105px;
  width: 100px;
}

.union-right {
  background: var(--first-color);
  border-radius: 0 0 48px 48px;
  height: 105px;
  width: 100px;
  align-self: flex-end;
}
